.containerProfil{
    margin-left: 50px;
    display: flex;
    flex-direction:row;
    align-items: center;
}

h2{
    padding-right: 50px;
}

.content{
    margin-right: 50px;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.info{
    margin-right: 200px;
    display: flex;
    flex-direction: column;
}